






* {
  margin: 0;
  padding: 0;
}

h1 {
  margin: 1rem;
}

html {
  font-size: 20px;
}

.app {
  /* padding: 1rem 5rem; */
  padding: 2rem 8rem;
}

.header {
  font-family: sans-serif;
  text-align: center;
}

.contact-info > * {
  display:flex;
  justify-content: space-between;
}

h2 {
  margin: 1rem;
  color: #255;
  text-align: center;
}

h4 {
  color: #255;
}

a {
  color: #255;
  text-decoration: none;
}